
<ion-header>
  <ion-navbar>
    <ion-title>Logout WorkOrder</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <h2>Upload Bukti Hadir</h2>
    </ion-card-header>
    <ion-card-content>
      <button color ion-button block icon-left (click)="openlayerfoto('uploadmid','kosong')">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2>Logout</h2>
    </ion-card-header>
    <ion-card-content>
        <button color="primary" block ion-button icon-left (click)="scanbarcode()">
          <ion-icon name="camera"></ion-icon>
          </button>
    </ion-card-content>
  </ion-card>
</ion-content>
