<ion-card>
  <ion-card-header (click)="toggleAccordionHD()">
    <ion-col col-6>
      <ion-icon ios="ios-reorder" md="md-reorder" *ngIf="!visible"></ion-icon>
      <ion-icon ios="ios-close" md="md-close" *ngIf="visible"></ion-icon>
    </ion-col>
    <ion-col col-6 color="primary">
      Form Mesin HD
    </ion-col>
  </ion-card-header>
  <ion-card-content #cchd>
    <ion-list>
      <form [formGroup]="hdform" (ngSubmit)="simpanformhd()">
        <ion-input type="hidden" formControlName="id_scan_header" [(ngModel)]="id_scan_header"></ion-input>
        <ion-item>
          <ion-label>Kalibrasi</ion-label>
          <ion-checkbox formGroupName="kalibrasi" formControlName="kalibrasi" [(ngModel)]="kalibrasi" required="required"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label floating>Power Time</ion-label>
          <ion-input type="number" formControlName="powertime" [(ngModel)]="powertime" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Nomor Versi Software</ion-label>
          <ion-input type="text" formControlName="no_versi_soft" [(ngModel)]="no_versi_soft" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Tanggal Instalasi</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" formControlName="tgl_instalasi" [(ngModel)]="tgl_instalasi" required="required"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Venous Pressure</ion-label>
          <ion-input type="text" formControlName="venous_pressure" [(ngModel)]="venous_pressure" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Dialisat Pressure</ion-label>
          <ion-input type="text" formControlName="dialisat_pressure" [(ngModel)]="dialisat_pressure" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Arteri Pressure</ion-label>
          <ion-input type="text" formControlName="arteri_pressure" [(ngModel)]="arteri_pressure" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Temperature</ion-label>
          <ion-input type="number" formControlName="temperature" [(ngModel)]="temperature" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Conductivity</ion-label>
          <ion-input type="number" formControlName="conductivity" [(ngModel)]="conductivity" required="required"></ion-input>
        </ion-item>
        <ion-label>Selang Drain</ion-label>
        <ion-list radio-group formControlName="selang_drain" [(ngModel)]="selang_drain" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Selang Inlet</ion-label>
        <ion-list radio-group formControlName="selang_inlet" [(ngModel)]="selang_inlet" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Filter Air Supply</ion-label>
        <ion-list radio-group formControlName="filter_air_supply" [(ngModel)]="filter_air_supply" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label floating>Blood Leak</ion-label>
          <ion-input type="number" formControlName="blood_leak" [(ngModel)]="blood_leak" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Flow Meter</ion-label>
          <ion-input type="number" formControlName="flow_meter" [(ngModel)]="flow_meter" required="required"></ion-input>
        </ion-item>
        <ion-label>Tubing</ion-label>
        <ion-list radio-group formControlName="tubing" [(ngModel)]="tubing" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Valve</ion-label>
        <ion-list radio-group formControlName="valve" [(ngModel)]="valve" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Flow Sensor</ion-label>
        <ion-list radio-group formControlName="flow_sensor" required="required" [(ngModel)]="flow_sensor">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Pump</ion-label>
        <ion-list radio-group formControlName="pump" required="required" [(ngModel)]="pump">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Tubing Rinse Acid</ion-label>
        <ion-list radio-group formControlName="tubing_rinse_acid" required="required" [(ngModel)]="tubing_rinse_acid">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Tubing Disinfektan</ion-label>
        <ion-list radio-group required="required" formControlName="tubing_disinfektan" [(ngModel)]="tubing_disinfektan">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label floating>Dialisat Time</ion-label>
          <ion-input type="number" required="required" formControlName="dialisat_time" [(ngModel)]="dialisat_time"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Supply Time</ion-label>
          <ion-input type="number" required="required" formControlName="supply_time" [(ngModel)]="supply_time"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Rinse Acid Intended</ion-label>
          <ion-input type="number" required="required" formControlName="rinse_acid_intended" [(ngModel)]="rinse_acid_intended"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Rinse Acid Original</ion-label>
          <ion-input type="number" required="required" formControlName="rinse_acid_original" [(ngModel)]="rinse_acid_original"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Disinfektan Intended</ion-label>
          <ion-input type="number" required="required" formControlName="disinfektan_intended" [(ngModel)]="disinfektan_intended"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Disinfektan Original</ion-label>
          <ion-input type="number" required="required" formControlName="disinfektan_original" [(ngModel)]="disinfektan_original"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Rinse Process W1</ion-label>
          <ion-input type="number" required="required" formControlName="rinse_process_w1" [(ngModel)]="rinse_process_w1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Rinse Process Dis</ion-label>
          <ion-input type="number" required="required" formControlName="rinse_process_dis" [(ngModel)]="rinse_process_dis"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Rinse Process W2</ion-label>
          <ion-input type="number" required="required" formControlName="rinse_process_w2" [(ngModel)]="rinse_process_w2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Catatan</ion-label>
          <ion-textarea type="text" required="required" formControlName="catatan" [(ngModel)]="catatan"></ion-textarea>
        </ion-item>
        <ion-row>
          <ion-col col-12>
            <button ion-button full   color="primary" type="button" (click)="tutup()">
              <ion-icon ios="ios-arrow-dropup-circle" md="md-arrow-dropup-circle">
                <small>Tutup</small>
              </ion-icon>
            </button>
          </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12> 
            <button ion-button  full color="secondary" type="submit" [disabled]="!hdform.valid">
              <ion-icon ios="ios-send" md="md-send">
                <small>Simpan</small>
              </ion-icon>
            </button>
          </ion-col>
          </ion-row>
        
      </form>
    </ion-list>
  </ion-card-content>
</ion-card>