<ion-header>
  <ion-navbar color="primary">
    <ion-title>Progress Instalasi Mesin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card>
      <ion-card-header>
        <p>Mesin Terinstall: {{sudahupload}}<b></b></p>
      </ion-card-header>
      <ion-card-content *ngFor="let row of datamesinupload">
        <p>No. Seri Mesin: <b>{{row.no_seri_mesin}}</b></p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <hr>

  <ion-list>
    <ion-card>
      <ion-card-header>
        <p>Mesin Belum Terinstall: {{jmlmesin}}<b></b></p>
      </ion-card-header>
    </ion-card>
    <ion-card *ngFor="let row of datamesin">
      <ion-card-header>
        <p>No. Seri Mesin: <b>{{row.no_seri_mesin}}</b></p>
      </ion-card-header>
      <ion-card-content>
        <ion-col >
          <button ion-button color="primary" (click)="inputHD({'nowo':row.no_wo, 'nomesin':row.no_seri_mesin})">Mesin HD</button>
        </ion-col>
        <ion-col >
            <button ion-button color="secondary" (click)="inputRO({'nowo':row.no_wo, 'nomesin':row.no_seri_mesin})">Mesin RO</button>
          </ion-col>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <br><br>
  <ion-list >
    <ion-card>
      <ion-card-content>
        <button ion-button block outline color="danger" (click)="btnDone()" disabled='{{disDone}}' ><b>DONE</b> <span></span> <ion-icon name="checkmark-circle"></ion-icon></button>
      </ion-card-content>
    </ion-card>
  </ion-list>
      
</ion-content>
