
<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>FORM HD</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content  class="bg">
    <ion-card>
        <ion-card-header>
            <ion-col col-12 color="primary">
                Form Mesin HD
              </ion-col>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <form (ngSubmit)="savehd()">
                  <ion-input type="hidden" [(ngModel)]="frhd.id_scan_hd" name="id_scan_hd"></ion-input>
                      
                  <ion-input type="hidden" [(ngModel)]="frhd.id_scan_header" name="id_scan_header"></ion-input>
                        <ion-item>
                          <ion-label>Kalibrasi</ion-label>
                          <ion-checkbox  [(ngModel)]="frhd.kalibrasi" required="required" name="kalibrasi"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Power Time</ion-label>
                          <ion-input type="number"  [(ngModel)]="frhd.powertime" required="required" name="powertime"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Nomor Versi Software</ion-label>
                          <ion-input type="text"  [(ngModel)]="frhd.no_versi_soft" required="required" name="no_versi_soft"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label stacked>Tanggal Instalasi</ion-label>
                          <ion-datetime displayFormat="YYYY-MM-DD"  [(ngModel)]="frhd.tgl_instalasi" required="required" name="tgl_instalasi"></ion-datetime>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Venous Pressure</ion-label>
                          <ion-input type="text" [(ngModel)]="frhd.venous_pressure" required="required" name="venous_pressure"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Dialisat Pressure</ion-label>
                          <ion-input type="text"  [(ngModel)]="frhd.dialisat_pressure" required="required" name="dialisat_pressure"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Arteri Pressure</ion-label>
                          <ion-input type="text" [(ngModel)]="frhd.arteri_pressure" required="required" name="arteri_pressure"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Temperature</ion-label>
                          <ion-input type="number" [(ngModel)]="frhd.temperature" required="required" name="temperature"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Conductivity</ion-label>
                          <ion-input type="number" [(ngModel)]="frhd.conductivity" required="required" name="conductivity"></ion-input>
                        </ion-item>
                        <ion-label>Selang Drain</ion-label>
                        <ion-list radio-group  [(ngModel)]="frhd.selang_drain" required="required" name="selang_drain">
                          <ion-item>
                            <ion-label>Bagus</ion-label>
                            <ion-radio value="B"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Cukup</ion-label>
                            <ion-radio value="C"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kurang</ion-label>
                            <ion-radio value="K"></ion-radio>
                          </ion-item>
                        </ion-list>
                        <ion-label>Selang Inlet</ion-label>
                        <ion-list radio-group [(ngModel)]="frhd.selang_inlet" required="required" name="selang_inlet">
                          <ion-item>
                            <ion-label>Bagus</ion-label>
                            <ion-radio value="B"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Cukup</ion-label>
                            <ion-radio value="C"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kurang</ion-label>
                            <ion-radio value="K"></ion-radio>
                          </ion-item>
                        </ion-list>
                        <ion-label>Filter Air Supply</ion-label>
                        <ion-list radio-group [(ngModel)]="frhd.filter_air_supply" required="required" name="filter_air_supply">
                          <ion-item>
                            <ion-label>Bagus</ion-label>
                            <ion-radio value="B"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Cukup</ion-label>
                            <ion-radio value="C"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kurang</ion-label>
                            <ion-radio value="K"></ion-radio>
                          </ion-item>
                        </ion-list>
                        <ion-item>
                          <ion-label floating>Blood Leak</ion-label>
                          <ion-input type="number" [(ngModel)]="frhd.blood_leak" required="required" name="blood_leak"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Flow Meter</ion-label>
                          <ion-input type="number"  [(ngModel)]="frhd.flow_meter" required="required" name="flow_meter"></ion-input>
                        </ion-item>
                        <ion-label>Tubing</ion-label>
                        <ion-list radio-group  [(ngModel)]="frhd.tubing" required="required" name="tubing">
                          <ion-item>
                            <ion-label>Bagus</ion-label>
                            <ion-radio value="B"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Cukup</ion-label>
                            <ion-radio value="C"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kurang</ion-label>
                            <ion-radio value="K"></ion-radio>
                          </ion-item>
                        </ion-list>
                        <ion-label>Valve</ion-label>
                        <ion-list radio-group [(ngModel)]="frhd.valve" required="required" name="valve">
                          <ion-item>
                            <ion-label>Bagus</ion-label>
                            <ion-radio value="B"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Cukup</ion-label>
                            <ion-radio value="C"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kurang</ion-label>
                            <ion-radio value="K"></ion-radio>
                          </ion-item>
                        </ion-list>
                        <ion-label>Flow Sensor</ion-label>
                        <ion-list radio-group required="required" [(ngModel)]="frhd.flow_sensor" name="flow_sensor">
                          <ion-item>
                            <ion-label>Bagus</ion-label>
                            <ion-radio value="B"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Cukup</ion-label>
                            <ion-radio value="C"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kurang</ion-label>
                            <ion-radio value="K"></ion-radio>
                          </ion-item>
                        </ion-list>
                        <ion-label>Pump</ion-label>
                        <ion-list radio-group  required="required" [(ngModel)]="frhd.pump" name="pump">
                          <ion-item>
                            <ion-label>Bagus</ion-label>
                            <ion-radio value="B"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Cukup</ion-label>
                            <ion-radio value="C"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kurang</ion-label>
                            <ion-radio value="K"></ion-radio>
                          </ion-item>
                        </ion-list>
                        <ion-label>Tubing Rinse Acid</ion-label>
                        <ion-list radio-group   required="required" [(ngModel)]="frhd.tubing_rinse_acid" name="tubing_rinse_acid">
                          <ion-item>
                            <ion-label>Bagus</ion-label>
                            <ion-radio value="B"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Cukup</ion-label>
                            <ion-radio value="C"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kurang</ion-label>
                            <ion-radio value="K"></ion-radio>
                          </ion-item>
                        </ion-list>
                        <ion-label>Tubing Disinfektan</ion-label>
                        <ion-list radio-group required="required"   [(ngModel)]="frhd.tubing_disinfektan" name="tubing_disinfektan">
                          <ion-item>
                            <ion-label>Bagus</ion-label>
                            <ion-radio value="B"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Cukup</ion-label>
                            <ion-radio value="C"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kurang</ion-label>
                            <ion-radio value="K"></ion-radio>
                          </ion-item>
                        </ion-list>
                        <ion-item>
                          <ion-label floating>Dialisat Time</ion-label>
                          <ion-input type="number" required="required"   [(ngModel)]="frhd.dialisat_time" name="dialisat_time"></ion-input>
                        </ion-item>
                  
                        <ion-item>
                          <ion-label floating>Supply Time</ion-label>
                          <ion-input type="number" required="required"   [(ngModel)]="frhd.supply_time" name="supply_time"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Rinse Acid Intended</ion-label>
                          <ion-input type="number" required="required"   [(ngModel)]="frhd.rinse_acid_intended" name="rinse_acid_intended"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Rinse Acid Original</ion-label>
                          <ion-input type="number" required="required"   [(ngModel)]="frhd.rinse_acid_original" name="rinse_acid_original"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Disinfektan Intended</ion-label>
                          <ion-input type="number" required="required"   [(ngModel)]="frhd.disinfektan_intended" name="disinfektan_intended"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Disinfektan Original</ion-label>
                          <ion-input type="number" required="required"   [(ngModel)]="frhd.disinfektan_original" name="disinfektan_original"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Rinse Process W1</ion-label>
                          <ion-input type="number" required="required"   [(ngModel)]="frhd.rinse_process_w1" name="rinse_process_w1"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Rinse Process Dis</ion-label>
                          <ion-input type="number" required="required"   [(ngModel)]="frhd.rinse_process_dis" name="rinse_process_dis"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label floating>Rinse Process W2</ion-label>
                          <ion-input type="number" required="required"   [(ngModel)]="frhd.rinse_process_w2" name="rinse_process_w2"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label>Catatan</ion-label>
                          <ion-textarea type="text" required="required"   [(ngModel)]="frhd.catatan" name="catatan"></ion-textarea>
                        </ion-item>
                          <ion-row>
                              <ion-col col-12> 
                            <button ion-button  full color="secondary" type="submit">
                              <ion-icon ios="ios-send" md="md-send">
                                <small>Simpan</small>
                              </ion-icon>
                            </button>
                          </ion-col>
                          </ion-row>
                  </form>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>

