page-logins {
    .panellogin{
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .bg{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    img{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        border-radius: 25%;
    }
    .lupapanel{
        margin-top:15px;
    }

    .version{
        color: gray;
        margin-top: 50px;
        bottom: 0;
        margin-left: 45%;
    }
    
}
