<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detail Instalasi Mesin</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="grid-basic-page">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
    <ion-card>
            <ion-item>
                <ion-badge color="primary" item-end> {{this.cekStatus2(STATUS)}} </ion-badge>
                <!-- <ion-badge color="{{this.checkurgensiwrn(urgensi)}}" item-end> {{this.checkurgensi(urgensi)}}</ion-badge> -->
                <ion-badge color="secondary" item-end> {{tglwo | amTimeAgo}}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                  <img src="assets/imgs/iconcust.png">
                </ion-avatar>
                <h2> {{Nama_customer}} </h2>
                <p>{{kode_customer}}</p>
                <p>{{tglwo | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</p>
                </ion-item>
                <ion-item>
                  <ion-row>
                    <ion-col>
                     <p>NO. WO</p>
                    </ion-col>
                    <ion-col>
                      <p>{{no_wo}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p>NO Tiket</p>
                    </ion-col>
                    <ion-col>
                      <p>{{no_tiket === null ? 'TIKET DIBUAT OLEH ADMIN' : no_tiket}}</p>
                    </ion-col>
                  </ion-row>
                </ion-item>
                
              <ion-card-content>
                <h2>Detail Tiket  </h2>
                  <p>TIKET DIBUAT OLEH ADMIN </p>
                  <p>{{keterangan}} </p>
                  
                </ion-card-content>
              <ion-row>
                <ion-col>
                  <button ion-button  [disabled]="this.btnprogress(STATUS_instalasi)" color="onproccess" (click)="progressInstalasi({'nowo':no_wo})">
                    PROGRESS
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button  [disabled]="this.btnstatus(STATUS_instalasi)" color="danger" (click)="closedwo({'kodecustomer':kode_customer, 'idwd': id_wd, 'idwo':id_wo})">
                    CLOSED WO
                  </button>
                </ion-col>
              </ion-row>
        </ion-card>
        <ion-card>
          <ion-item>
              <ion-row>
                  <ion-col>
                    Informasi WO
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Dibuka Oleh:</ion-col><ion-col>{{open_by}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Pukul:</ion-col><ion-col>{{open_time | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Ditutup Oleh:</ion-col><ion-col>{{closed_by}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Pukul:</ion-col><ion-col>{{closed_time | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</ion-col>
                </ion-row>
          </ion-item>
      </ion-card>
      
</ion-content>