<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tambah Error</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-md-2>NO REF</ion-col>
        <ion-col col-md-6>{{no_ref}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-2>NOMOR SERIAL</ion-col>
        <ion-col col-md-6>{{no_seri}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-2>JUMLAH ERROR</ion-col>
        <ion-col col-md-6>{{qtyjml}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
        <ion-row>
            <ion-col col-6>
              <b>List Error Mesin :</b>
            </ion-col>
        </ion-row> 
        <ion-row>
        </ion-row>
        <ion-item>
          List Error Mesin
          <ionic-selectable
          item-content
          [isMultiple]="true"
          [(ngModel)]="ErrorId"
          [items] = "ErrorList"
          itemValueField="kode_error"
          itemTextField="errorlist"
          [canSearch]="true"
          (onChange)="ErrorChanged($event)"
          okButtonText="Choose"
          resetButtonText="Clear Selection"
          (onClose)="onClose($event)"
          [shouldStoreItemValue]="true"
          [canClear]="true"
          >
        </ionic-selectable>
        </ion-item>
        <button ion-button color="primary" (click)="simpanerror()" [disabled]="ErrorIds == ''">
          Add
        </button>  
    </ion-card-header>
</ion-card>
<ion-card>
    <ion-card-header>
        <b>List Data Sparepart Mesin</b>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let lst of dataset">
          <ion-row>
              <ion-col color="light" col-12>
                <h6>{{lst.errorlist}}</h6>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <button ion-button color="danger" (click)="showprompt(lst)">
                    <ion-icon name="trash"></ion-icon>
                     Hapus
                  </button>
                </ion-col>
          </ion-row>
      </ion-item>    
    </ion-card-content>
  </ion-card>
</ion-content>
