<ion-header>
  <ion-navbar color="primary">
    <ion-title>Final Kalibrasi </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <p>No. Work Order: {{nowo}}</p>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Form Customer
    </ion-card-header>
    <ion-card-content>
      <ion-list >
        <ion-item>
          <ion-label floating>Nama Lengkap</ion-label>
          <ion-input type="text"  [(ngModel)]="nama" autofocus ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Jabatan</ion-label>
          <ion-input type="text"  [(ngModel)]="jabatan" ></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Silahkan Tanda tangan disini
    </ion-card-header>
    <ion-card-content>
        <ion-row [ngClass]="{'drawing-active': isDrawing}">
            <ion-col>
              <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
            </ion-col>
          </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
        <ion-row>
            <ion-col >
              <button ion-button outline color="danger" (click)="clearPad()">Ulangi TTD</button>
            </ion-col>
            <ion-col ></ion-col>
            <ion-col >
              <button ion-button outline color="secondary" (click)="savePad()">Simpan
                <ion-icon name="checkmark-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>