page-finaltask {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    
    th, td {
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2}

    canvas {
        display: block;
        border: 1px solid rgb(187, 178, 178);
    }
}
