<ion-header>

  <ion-navbar color="primary">
    <ion-title>Worksheet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="grid-basic-page">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-item>
        <ion-badge color="{{this.checkstatus(datawo.STATUS)}}" item-end> {{this.checktext(datawo.STATUS)}} </ion-badge>
        <ion-badge color="{{this.checkurgensiwrn(datawo.urgensi)}}" item-end> {{this.checkurgensi(datawo.urgensi)}}</ion-badge>
        <ion-badge color="secondary" item-end> {{datawo.datecreated | amTimeAgo}}</ion-badge>
    </ion-item>
    <ion-item>
        <ion-avatar item-start>
          <img src="{{this.changeimg(datawo.foto)}}">
        </ion-avatar>
        <h2> {{datawo.Nama_customer}} </h2>
        <p>{{datawo.kode_customer}}</p>
        <p>{{datawo.datecreated | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</p>
       </ion-item>
        <ion-item>
          <ion-row>
            <ion-col>
             <p>NO. WO</p>
            </ion-col>
            <ion-col>
              <p>{{datawo.no_wo}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>NO Tiket</p>
            </ion-col>
            <ion-col>
              <p>{{datawo.no_tiket}}</p>
            </ion-col>
          </ion-row>
        </ion-item>
        
      <ion-card-content>
        <h2>Detail Tiket  </h2>
        <p>{{datawo.deskripsi === null ? 'TIKET DIBUAT OLEH ADMIN' : ''}} </p>
        <p>{{datawo.deskripsi === null ? datawo.keterangan : datawo.deskripsi}} </p>
        </ion-card-content>
        <ion-row>
          <!--ion-col>
              <button ion-button block color="info" (click)="requestsp()">Request Sparepart</button>
            </ion-col-->
          <ion-col>
            <button [disabled]="dataSet==''" ion-button block color="primary" (click)="nextinput()">Done</button>
          </ion-col>
        </ion-row>
</ion-card>
<ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
<div *ngIf="searching" class="spinner-container">
  <ion-spinner></ion-spinner>
</div>
<ion-list>
  <ion-card>
    <ion-card-header>
      <p><b>*Geser untuk melihat aksi</b></p>
    </ion-card-header>
    <ion-card-content>
        <ion-item-sliding *ngFor="let scandetail of dataSet">
            <button ion-item>
              <h3>Nomor Seri Mesin : {{ scandetail.no_seri }} </h3>
            </button>
            <hr>
            <ion-item-options side="right">
              <button ion-button (click)="resume(scandetail)">
                <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
                Resume
              </button>
            </ion-item-options>
            <ion-item-options side="left">
              <button ion-button color="danger" (click)="showprompt(scandetail)">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-item-options>
          </ion-item-sliding>
    </ion-card-content>
  </ion-card>
</ion-list>
<ion-fab right bottom>
    <button ion-fab color="light"><ion-icon ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button (click)="scanbarcode()" color="secondary" ion-fab><ion-icon ios="ios-add" md="md-add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
