<ion-header>
    <ion-navbar color="primary">
      <ion-title>Komisioning Mesin RO</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content  class="bg">

    <ion-card>
      <ion-card-content>
        <p><b>No Seri Mesin: {{nomesin}}</b></p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Vessel RO (kebocoran)
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="vessel">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catvessel" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Piping Dalam Sistem RO(kebocoran)
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="pipingsis">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catpipingsis" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Pompa RO(suara normal & tidak bocor)
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="pompa">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catpompa" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Listrik Terpasang Ground
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="listrik">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catlistrik" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Jumlah Daya
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="number" required="required" [(ngModel)]="watt" placeholder="watt" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" required="required" [(ngModel)]="volt" placeholder="voltase" ></ion-input>
        </ion-item>
        <ion-list radio-group required="required" [(ngModel)]="daya">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catdaya" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Feed Pump(suara normal & tidak bocor)
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="feedpump">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catfeedpump" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Filtrasi Pump(suara normal & tidak bocor)
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="filpump">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catfilpump" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Distribusi Pump(suara normal & tidak bocor)
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="dispump">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catdispump"placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        UV Kapasitas
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="number" required="required" [(ngModel)]="gpm" placeholder="gpm/lpm" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" required="required" [(ngModel)]="tipe" placeholder="tipe" ></ion-input>
        </ion-item>
        <ion-list radio-group required="required" [(ngModel)]="uv">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catuv" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        System Conductivity
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="sysconduct">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catsysconduct" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        System Timer
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="systimer">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catsystimer" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Filter Sand
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="filsand">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catfilsand" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Filter Carbond
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="filcarb">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catfilcarb" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Filter resin
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="filresin">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catfilresin" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Filter Pyrolox(Fe/Mn)
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="filpy">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catfilpy" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Piping Instalasi
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="pipingins">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catpipingins" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        System Panel Listrik
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="syslistrik">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catsyslistrik" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        System Panel Conductivity dan Timer
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group required="required" [(ngModel)]="syspanel">
          <ion-item>
            <ion-label>BERFUNGSI</ion-label>
            <ion-radio value="Y"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TIDAK BERFUNGSI</ion-label>
            <ion-radio value="T"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catsyspanel" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Feed Pressure/Tek. Masuk(bar/kPa)
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="feedpress" placeholder="Nilai" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Satuan</ion-label>
          <ion-select [(ngModel)]="satfeedpress" interface="action-sheet" >
            <ion-option value="Bar" >Bar</ion-option>
            <ion-option value="kPa" >kPa</ion-option>
            <ion-option value="psi" >psi</ion-option>
            <ion-option value="Lain-lain" >Lain-lain</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-textarea [(ngModel)]="catfeedpress" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        System Pressure (bar/kPa)
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="syspress" placeholder="Nilai" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Satuan</ion-label>
          <ion-select [(ngModel)]="satsyspress" interface="action-sheet" >
            <ion-option value="Bar" >Bar</ion-option>
            <ion-option value="kPa" >kPa</ion-option>
            <ion-option value="psi" >psi</ion-option>
            <ion-option value="Lain-lain" >Lain-lain</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-textarea [(ngModel)]="catsyspress" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Feed Flow Rate (lpm/gpm)
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="feedflow" placeholder="Nilai" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Satuan</ion-label>
          <ion-select [(ngModel)]="satfeedflow" interface="action-sheet" >
            <ion-option value="lpm" >lpm</ion-option>
            <ion-option value="gpm" >gpm</ion-option>
            <ion-option value="Lain-lain" >Lain-lain</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-textarea [(ngModel)]="catfeedflow" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Permeate Flow Rate (lpm/gpm)
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="permeateflow" placeholder="Nilai" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Satuan</ion-label>
          <ion-select [(ngModel)]="satpermeateflow" interface="action-sheet" >
            <ion-option value="lpm" >lpm</ion-option>
            <ion-option value="gpm" >gpm</ion-option>
            <ion-option value="Lain-lain" >Lain-lain</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-textarea [(ngModel)]="catpermeateflow" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Permeate Conductivity (&#371;S/cm /ppm)
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="permeateconduct" placeholder="Nilai" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Satuan</ion-label>
          <ion-select [(ngModel)]="satpermeateconduct" interface="action-sheet" >
            <ion-option value="lpm" >lpm</ion-option>
            <ion-option value="gpm" >gpm</ion-option>
            <ion-option value="Lain-lain" >Lain-lain</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-textarea [(ngModel)]="catpermeateconduct" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Feed Conductivity (&#371;S/cm /ppm)
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="feedconduct" placeholder="Nilai" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Satuan</ion-label>
          <ion-select [(ngModel)]="satfeedconduct" interface="action-sheet" >
            <ion-option value="lpm" >lpm</ion-option>
            <ion-option value="gpm" >gpm</ion-option>
            <ion-option value="Lain-lain" >Lain-lain</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-textarea [(ngModel)]="catfeedconduct" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Tekanan Pompa Feed Pump
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="pompafeed" placeholder="Nilai" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Satuan</ion-label>
          <ion-select [(ngModel)]="satpompafeed" interface="action-sheet" >
            <ion-option value="Bar" >Bar</ion-option>
            <ion-option value="kPa" >kPa</ion-option>
            <ion-option value="psi" >psi</ion-option>
            <ion-option value="Lain-lain" >Lain-lain</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-textarea [(ngModel)]="catpompafeed" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Tekanan Pompa Filtrasi
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="pompafil" placeholder="Nilai" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Satuan</ion-label>
          <ion-select [(ngModel)]="satpompafil" interface="action-sheet" >
            <ion-option value="Bar" >Bar</ion-option>
            <ion-option value="kPa" >kPa</ion-option>
            <ion-option value="psi" >psi</ion-option>
            <ion-option value="Lain-lain" >Lain-lain</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-textarea [(ngModel)]="catpompafil" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Tekanan Pompa Distribusi
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="pompadis" placeholder="Nilai" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Satuan</ion-label>
          <ion-select [(ngModel)]="satpompadis" interface="action-sheet" >
            <ion-option value="Bar" >Bar</ion-option>
            <ion-option value="kPa" >kPa</ion-option>
            <ion-option value="psi" >psi</ion-option>
            <ion-option value="Lain-lain" >Lain-lain</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-textarea [(ngModel)]="catpompadis" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Tekanan Pompa Cadangan filtrasi & Feed
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="pompacadfil" placeholder="Nilai" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Satuan</ion-label>
          <ion-select [(ngModel)]="satpompacadfil" interface="action-sheet" >
            <ion-option value="Bar" >Bar</ion-option>
            <ion-option value="kPa" >kPa</ion-option>
            <ion-option value="psi" >psi</ion-option>
            <ion-option value="Lain-lain" >Lain-lain</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-textarea [(ngModel)]="catpompacadfil" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Tekanan Pompa Cadangan Distribusi
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="pompacaddis" placeholder="Nilai" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Satuan</ion-label>
          <ion-select [(ngModel)]="satpompacaddis" interface="action-sheet" >
            <ion-option value="Bar" >Bar</ion-option>
            <ion-option value="kPa" >kPa</ion-option>
            <ion-option value="psi" >psi</ion-option>
            <ion-option value="Lain-lain" >Lain-lain</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-textarea [(ngModel)]="catpompacaddis" placeholder="catatan"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Delta P Sand Filter (tek.masuk - tek.keluar)
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="deltapsan" placeholder="Tekanan Masuk" ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Delta P Carbon Filter (tek.masuk - tek.keluar)
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="deltapcarbon" placeholder="Tekanan Masuk" ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Delta P Resin/Softener Filter (tek.masuk - tek.keluar)
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="deltapresin" placeholder="Tekanan Masuk" ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Delta P Pyrolox/Filter Fe/Mn (tek.masuk - tek.keluar)
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-input type="text" [(ngModel)]="deltappyrolox" placeholder="Tekanan Masuk" ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <button ion-button block round (click)="simpanData()">Simpan</button>
      </ion-card-content>
    </ion-card>

  </ion-content>