ion-modal.modal-setengah {
    .modal-wrapper {
        top:50%;
        height: 70%;
        width: 100%;
        position:fixed;
    }
}

.splashs{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(1, 50, 67, 1);

}

.spinnerz {
    width: 40px;
    height: 40px;
  
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:rgba(228, 241, 254, 1);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  .fullscreen {
    ion-navbar-section,
    ion-tabbar-section,
    ion-content-section {
      position: absolute;
      width: 100%;
    }
  ion-navbar-section,
ion-tabbar-section,
ion-content-section {
  position: absolute;
  width: 100%;
}


ion-navbar-section {
  z-index: 1000;
  top: 0;
}

ion-tabbar-section {
  z-index: 1000;
  bottom: 0;
}

ion-content-section {
  z-index: 10;
}

scroll-content {
  padding-top: $toolbar-ios-height;
  padding-bottom: $toolbar-ios-height;
}


  }