<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Kalibrasi
      <ion-badge color="secondary">online</ion-badge>
      
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="headercontent">
    <div class="bg-image">
      <img src="assets/imgs/bgsirup.jpg" alt="bg">
    </div>
    <div class="text-block">
      <h3>{{nama}}</h3>
      <h3>{{nik}}</h3>
      <p>{{accesstxt}}</p>
    </div>
    <div class="text-blocks1">
      <h2>{{count_not_yet}}</h2>
      <p><b>NOT YET</b></p>
    </div>
    <div class="text-blocks2">
      <h2>{{count_on_progress}}</h2>
      <p><b>ON PROGRESS</b></p>
    </div>
    <div class="text-blocks3">
      <h2>{{count_closed}}</h2>
      <p><b>CLOSED</b></p>
    </div>
    <div class="overlay"></div>
  </div>

  <ion-card *ngFor="let item of datawo">
    <ion-item>
      <ion-badge color="{{this.cekStatus1(item.STATUS)}}" item-end> {{this.cekStatus2(item.STATUS)}} </ion-badge>
      <!--ion-badge color="{{this.checkurgensiwrn(item.urgensi)}}" item-end> {{this.checkurgensi(item.urgensi)}}</ion-badge-->
      <ion-badge color="secondary" item-end> {{item.datecreated | amTimeAgo}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/iconcust.png">
      </ion-avatar>
      <h2> {{item.Nama_customer}} </h2>
      <p>{{item.kode_customer}}</p>
      <p>{{item.datecreated | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</p>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <p>NO. WO</p>
        </ion-col>
        <ion-col>
          <p>{{item.no_wo}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>NO Tiket</p>
        </ion-col>
        <ion-col>
          <p>-</p>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-card-content>
      <h2>Detail Tiket </h2>
      <p>TIKET DIBUAT OLEH ADMIN</p>
      <p>{{item.keterangan}} </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
          <button ion-button  *ngIf="item.STATUS == 0" color="secondary" (click)="scanbarcode(item)">SCAN HD CENTER</button>
          <button ion-button  *ngIf="item.STATUS == 1" color="primary" (click)="resume(item)" >RESUME</button>
          <button ion-button  *ngIf="item.STATUS == 2" color="danger" disabled >CLOSED</button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>