page-forgot {
    .title{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        border-radius: 25%;
    }
    .bg{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .footers{
        margin-top: 15%;
        margin-bottom: 20px;
        text-align: center;
    }
    .content-text {
        text-align: center;   
    }
    .responsemsg{
        font-weight: bold;
        color: red;
    }
}
