<ion-content padding class="bg">
  <ion-card>
    <ion-card-content>
      <div class="content-text">
        <h1>Kesulitan Untuk Masuk?</h1><br>
        <p>Masukkan email Anda dan kami akan mengirimi Anda sebuah 
          tautan untuk kembali ke akun Anda.</p>
      <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email"  [(ngModel)]="email" #ctl="ngModel"></ion-input>
      </ion-item>
      <div *ngIf="responsemsg != ''">
        <div class="responsemsg">{{responsemsg}}</div>
      </div>
      </div>
      <br>
      <button ion-button block color="btnactive" (click)="forgot()" [disabled]="email == ''">
        Kirim Tautan Masuk
      </button>
      </ion-card-content>
      <div class="footers">
          <b><a (click)="back()">Kembali ke Halaman Masuk?</a></b>
      </div>
  </ion-card>
 
</ion-content>