<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tambah Sparepart</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-md-2>NO REF</ion-col>
        <ion-col col-md-6>{{no_ref}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-2>NOMOR SERIAL</ion-col>
        <ion-col col-md-6>{{no_seri}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-2>JUMLAH SPAREPART</ion-col>
        <ion-col col-md-6>{{qtyjml}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
        <ion-row>
            <ion-col col-6>
              <b>List Sparepart Mesin :</b>
            </ion-col>
        </ion-row> 
        <ion-row>
        </ion-row>
        <ion-item>
          Data Sparepart
          <ionic-selectable
          item-content
          [isMultiple]="true"
          [(ngModel)]="SparepartId"
          [items] = "SparepartList"
          itemValueField="kd_sparepart"
          itemTextField="sparepartlist"
          [canSearch]="true"
          (onChange)="SparepartChanged($event)"
          okButtonText="Choose"
          resetButtonText="Clear Selection"
          (onClose)="onClose($event)"
          [shouldStoreItemValue]="true"
          [canClear]="true"
          >
        </ionic-selectable>
        </ion-item>
        <button ion-button color="primary" (click)="simpansparepart()" [disabled]="this.btnaktif">
          Add
        </button>  
    </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header>
      <b>List Data Sparepart Mesin</b>
  </ion-card-header>
  <ion-card-content>
    <ion-item *ngFor="let lst of dataset">
        <ion-row>
            <ion-col color="light" col-12>
              <h6>{{lst.sparepartlist}}</h6>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Jumlah Sparepart:</ion-col>
          <ion-col>{{lst.qty}}</ion-col>
          
        </ion-row>
      
        <ion-row>
            <ion-col>
                <button ion-button color="danger" (click)="showprompt(lst)">
                  <ion-icon name="trash"></ion-icon>
                   Hapus
                </button>
              </ion-col>
              <ion-col>
                  <button ion-button color="energy"  (click)="openmodal(lst)">
                      <ion-icon ios="ios-create" md="md-create"></ion-icon>
                      UBAH
                  </button>
              </ion-col>
        </ion-row>
    </ion-item>    
  </ion-card-content>
</ion-card>
</ion-content>