<ion-header>
  <ion-navbar color="primary">
    <ion-title>No. Mesin: {{noseri}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="bg">

  <ion-card>
    <ion-card-header color="danger">
      WATER INLET PRESSURE(PRESSURE REGULATOR)
      <hr>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating >Nilai Standar</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="ns"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kns">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      ARTERIAL & VENOUS PRESSURE
      <hr>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating >Arterial Press(Open)</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="apo"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kapo">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
      <hr>
      <ion-item>
        <ion-label floating >Arterial Press(Close)</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="apc"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kapc">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
      <hr>
      <ion-item>
        <ion-label floating >Venous Press(Open)</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="vpo"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kvpo">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
      <hr>
      <ion-item>
        <ion-label floating >Venous Press(Close)</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="vpc"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kvpc">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      DIALYSATE PRESSURE
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating >Dialysate Press(Open)</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="dpo"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kdpo">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
      <hr>
      <ion-item>
        <ion-label floating >Dialysate Press(Close)</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="dpc"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kdpc">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      DIALYSATE FLOW
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating >QD 300 ML/MIN</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="qd3"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kqd3">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
      <hr>
      <ion-item>
        <ion-label floating >QD 500 ML/MIN</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="qd5"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kqd5">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
      <hr>
      <ion-item>
        <ion-label floating >QD 800 ML/MIN</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="qd8"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kqd8">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      BLOOD FLOW
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating >QB 100 ML/MIN</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="qb1"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kqb1">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
      <hr>
      <ion-item>
        <ion-label floating >QB 200 ML/MIN</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="qb2"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kqb2">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
      <hr>
      <ion-item>
        <ion-label floating >QB 300 ML/MIN</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="qb3"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kqb3">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      TEMPERATURE
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating >Low Temperature</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="lt"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="klt">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
      <hr>
      <ion-item>
        <ion-label floating >HIGH TEMPERATURE</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="ht"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="kht">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      CONDUCTIVITY
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating >Range Conductivity</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="rc"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="krc">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      SYRINGE TEST
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating >Heparin Pump</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="hp"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="khp">
        <ion-item>
          <ion-label>OK</ion-label>
          <ion-radio value="ok"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>NOT GOOD</ion-label>
          <ion-radio value="ng"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      UNIT
    </ion-card-header>
    <ion-card-content>
      <ion-list radio-group required="required" [(ngModel)]="unit">
        <ion-item>
          <ion-label>HD</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>ICU</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>ICCU</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>HCU</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      HASIL KALIBRASI
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating >Model Mesin</ion-label>
        <ion-input type="text" [(ngModel)]="model"></ion-input>
      </ion-item>
      <ion-list radio-group required="required" [(ngModel)]="catatan2">
        <ion-item>
          <ion-label>DAPAT DIGUNAKAN</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>PERLU PERBAIKAN</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-textarea required="required" [(ngModel)]="catatan" placeholder="Catatan"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <button ion-button block outline color="info" item-end icon-end (click)="simpanData()">
        Simpan
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>

</ion-content>