page-instalasi {
    .bg-image {
        /* Full height */
        height: 100%; 
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .headercontent{
        // margin-top: 5px;
        position: relative;
        height: 50%;
      }
      .overlay {
        position: absolute;
        /*bottom:2;*/
        top:0;
        left: 0;
        right: 0;
        background-color: #008CBA;
        overflow: hidden;
        height: 100%;
        opacity:0.8;
      }
      .text-block {
        position: absolute;
        background-color:transparent;
        color: white;
        top: 15%;
        text-align: center;
        left: 8%;
        right: 8%;
        z-index: 5;
    }
    .text-blocks1{
        position: absolute;
        background-color:transparent;
        color: white;
        top: 45%;
        text-align: center;
        left: 8%;
        z-index: 5; 
    }
    .text-blocks2{
        position: absolute;
        background-color:transparent;
        color: white;
        top: 45%;
        text-align: center;
        left: 16%;
        right: 16%;
        z-index: 5; 
    }
    .text-blocks3{
        position: absolute;
        background-color:transparent;
        color: white;
        top: 45%;
        text-align: center;
        right: 8%;
        z-index: 5; 
    }
}
