<ion-header>
  <ion-navbar color="primary">
    <ion-title>Komisioning Mesin HD</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="bg">

  <ion-card>
    <ion-card-content>
      <p><b>No Seri Mesin: {{nomesin}}</b></p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      <b>Setting 1</b>
    </ion-card-header>
    <ion-card-content>
      <hr>
      <small>Dialysate Setting</small>
      <ion-item>
          <ion-label floating >Type Concentration (BCI 1/2/3/4)</ion-label>
          <ion-input type="number" [(ngModel)]="typeconcent1" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating >B Setting Range (5 to 65)</ion-label>
          <ion-input type="number" [(ngModel)]="settrange1" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating >Concentration (130 to 200)</ion-label>
          <ion-input type="number" [(ngModel)]="concent1" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating >Base Conductivity (mS/cm)</ion-label>
          <ion-input type="number" [(ngModel)]="baseconduct1" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating >Base B Conductivity</ion-label>
          <ion-input type="number" [(ngModel)]="baseb1" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Base Alarm Setting (auto, manual)</ion-label>
          <ion-input type="number" [(ngModel)]="basealarm1" ></ion-input>
        </ion-item>
        <hr>

        <small>Conc.Setting</small>
        <ion-item>
          <ion-label floating >Type (BCI 1/2/3/4)</ion-label>
          <ion-input type="number" [(ngModel)]="typebci1"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >B (5 to 65)</ion-label>
          <ion-input type="number" [(ngModel)]="b1" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Mixing Ratio B(0.5 to 2.00)</ion-label>
          <ion-input type="number" [(ngModel)]="mixratio1" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Mixing Ratio Water (30.0 to 50.0)</ion-label>
          <ion-input type="number" [(ngModel)]="mixingwater1" ></ion-input>
        </ion-item>
        <hr>

        <small>Alarm Setting (MAINTE2)</small>
        <ion-item>
          <ion-label floating >TMP Alarm Max (mmHg)</ion-label>
          <ion-input type="text" [(ngModel)]="tmpalarmmax1" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >TMP Alarm Min (mmHg)</ion-label>
          <ion-input type="text" [(ngModel)]="tmpalarmmin1" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Conductivity Alarm Max (%)</ion-label>
          <ion-input type="text" [(ngModel)]="conalarmmax1"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Conductivity Alarm Min (%)</ion-label>
          <ion-input type="text" [(ngModel)]="conalarmmin1" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >B Conductivity Alarm Max (%)</ion-label>
          <ion-input type="text" [(ngModel)]="bconalarmmax1" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >B Conductivity Alarm Min (%)</ion-label>
          <ion-input type="text" [(ngModel)]="bconalarmmin1"></ion-input>
        </ion-item>
        <hr>

        <small>Rinsing Liquid Setting</small>
        <ion-item>
          <ion-label floating >Acetic Original (%)</ion-label>
          <ion-input type="text" [(ngModel)]="aceticorigin1"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Citric Original (%)</ion-label>
          <ion-input type="text" [(ngModel)]="citricorigin1" ></ion-input>
        </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      <b>Setting 2</b>
    </ion-card-header>
    <ion-card-content>
      <hr>
      <small>Dialysate Setting</small>
      <ion-item>
          <ion-label floating >Type Concentration (BCI 1/2/3/4)</ion-label>
          <ion-input type="number" [(ngModel)]="typeconcent2" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating >B Setting Range (5 to 65)</ion-label>
          <ion-input type="number" [(ngModel)]="settrange2" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating >Concentration (130 to 200)</ion-label>
          <ion-input type="number" [(ngModel)]="concent2" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating >Base Conductivity (mS/cm)</ion-label>
          <ion-input type="number" [(ngModel)]="baseconduct2" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating >Base B Conductivity</ion-label>
          <ion-input type="number" [(ngModel)]="baseb2" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Base Alarm Setting (auto, manual)</ion-label>
          <ion-input type="number" [(ngModel)]="basealarm2" ></ion-input>
        </ion-item>
        <hr>

        <small>Conc.Setting</small>
        <ion-item>
          <ion-label floating >Type (BCI 1/2/3/4)</ion-label>
          <ion-input type="number" [(ngModel)]="typebci2"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >B (5 to 65)</ion-label>
          <ion-input type="number" [(ngModel)]="b2" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Mixing Ratio B(0.5 to 2.00)</ion-label>
          <ion-input type="number" [(ngModel)]="mixratio2" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Mixing Ratio Water (30.0 to 50.0)</ion-label>
          <ion-input type="number" [(ngModel)]="mixingwater2" ></ion-input>
        </ion-item>
        <hr>

        <small>Alarm Setting (MAINTE2)</small>
        <ion-item>
          <ion-label floating >TMP Alarm Max (mmHg)</ion-label>
          <ion-input type="text" [(ngModel)]="tmpalarmmax2" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >TMP Alarm Min (mmHg)</ion-label>
          <ion-input type="text" [(ngModel)]="tmpalarmmin2" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Conductivity Alarm Max (%)</ion-label>
          <ion-input type="text" [(ngModel)]="conalarmmax2"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Conductivity Alarm Min (%)</ion-label>
          <ion-input type="text" [(ngModel)]="conalarmmin2" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >B Conductivity Alarm Max (%)</ion-label>
          <ion-input type="text" [(ngModel)]="bconalarmmax2" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >B Conductivity Alarm Min (%)</ion-label>
          <ion-input type="text" [(ngModel)]="bconalarmmin2"></ion-input>
        </ion-item>
        <hr>

        <small>Rinsing Liquid Setting</small>
        <ion-item>
          <ion-label floating >Acetic Original (%)</ion-label>
          <ion-input type="text" [(ngModel)]="aceticorigin2"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating >Citric Original (%)</ion-label>
          <ion-input type="text" [(ngModel)]="citricorigin2" ></ion-input>
        </ion-item>

    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <button ion-button block round (click)="simpanData()">Simpan</button>
    </ion-card-content>
  </ion-card>

</ion-content>
