<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FORM RO</ion-title>
  </ion-navbar>
</ion-header>
<ion-content  class="bg">
    <ion-card>
        <ion-card-header>
          <ion-col col-12 color="primary">
            Form Mesin RO
          </ion-col>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <form (ngSubmit)="simpanformro()">
              
              <ion-input type="hidden"  [(ngModel)]="frro.id_scan_ro" name="id_scan_ro" required="required"></ion-input>
              
              <ion-input type="hidden"  [(ngModel)]="frro.id_scan_header" name="id_scan_header" required="required"></ion-input>
              <ion-item>
                <ion-label>Kalibrasi</ion-label>
                <ion-checkbox   [(ngModel)]="frro.kalibrasi" name="kalibrasi"></ion-checkbox>
              </ion-item>
             
              
              <ion-item>
                <ion-label floating>Tanggal Instalasi</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD"  [(ngModel)]="frro.tgl_instalasi" name="tgl_instalasi" required="required"></ion-datetime>
              </ion-item>
              
              <ion-item>
                <ion-label floating>Feed Pressure</ion-label>
                <ion-input type="number"  [(ngModel)]="frro.feed_pressure"  name="feed_pressure" required="required"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>System Pressure</ion-label>
                <ion-input type="number" [(ngModel)]="frro.system_pressure" name="system_pressure" required="required"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Permeate Flow</ion-label>
                <ion-input type="number"  [(ngModel)]="frro.permeate_flow" name="permeate_flow" required="required"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Permeate Temperature</ion-label>
                <ion-input type="number" [(ngModel)]="frro.permeate_temperature" name="permeate_temperature" required="required"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Permeate Conductivity</ion-label>
                <ion-input type="number"  [(ngModel)]="frro.permeate_conductivity" name="permeate_conductivity" required="required"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Concentrate Flow</ion-label>
                <ion-input type="number"  [(ngModel)]="frro.concentrate_flow" name="concentrate_flow" required="required"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Concentrate Conductivity</ion-label>
                <ion-input type="number"  [(ngModel)]="frro.concentrate_conductivity" name="concentrate_conductivity" required="required"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Feed Water Flow</ion-label>
                <ion-input type="number"  [(ngModel)]="frro.feed_water_flow" name="feed_water_flow" required="required"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Feed Water Conductivity</ion-label>
                <ion-input type="number"  [(ngModel)]="frro.feed_water_conductivity" name="feed_water_conductivity" required="required"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Feed Water Temperature</ion-label>
                <ion-input type="number"  [(ngModel)]="frro.feed_water_temperature" name="feed_water_temperature" required="required"></ion-input>
              </ion-item>
              <ion-label>Leaking RO</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.leaking_ro" name="leaking_ro" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Pompa Tekanan Tinggi</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.pompa_tekanan_tinggi" name="pompa_tekanan_tinggi" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Instrumen Listrik</ion-label>
              <ion-list radio-group [(ngModel)]="frro.instrumen_listrik" name="instrumen_listrik" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Mechanical Instrument</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.mechanical_instrument" name="mechanical_instrument" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Ganti Module Membrane</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.ganti_module_membrane"  name="ganti_module_membrane" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Backwash Sand Filter</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.backwash_sand_filter" name="backwash_sand_filter" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Backwash Carbon Filter</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.backwash_carbon_filter" name="backwash_carbon_filter" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Regenerasi Resin</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.regenerasi_resin" name="regenerasi_resin" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Check Kebocoran Piping</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.check_kebocoran_piping" name="check_kebocoran_piping" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Penggantian Filter Cartridges</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.penggantian_filter_cartridges" name="penggantian_filter_cartridges" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Penggantian Sand Filter</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.penggantian_sand_filter" name="penggantian_sand_filter" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Penggantian Resin Filter</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.penggantian_resin_filter" name="penggantian_resin_filter" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Penggantian Carbon Filter</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.penggantian_carbon_filter" name="penggantian_carbon_filter" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Check Kebocoran Pompa Filtrasi</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.check_kebocoran_pompa_filtrasi" name="check_kebocoran_pompa_filtrasi" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Check Instrumen Listrik</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.check_instrumen_listrik" name="check_instrumen_listrik" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Check Kebocoran Pompa Feed</ion-label>
              <ion-list radio-group  [(ngModel)]="frro.check_kebocoran_pompa_feed" name="check_kebocoran_pompa_feed" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-label>Check Instrumen Mekanical</ion-label>
              <ion-list radio-group [(ngModel)]="frro.check_instrumen_mekanical" name="check_instrumen_mekanical" required="required">
                <ion-item>
                  <ion-label>Bagus</ion-label>
                  <ion-radio value="B"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Cukup</ion-label>
                  <ion-radio value="C"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Kurang</ion-label>
                  <ion-radio value="K"></ion-radio>
                </ion-item>
              </ion-list>
              <ion-item>
                <ion-label>Rencana</ion-label>
                <ion-textarea type="text" [(ngModel)]="frro.rencana" name="rencana" required="required"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label>Catatan</ion-label>
                <ion-textarea type="text"  [(ngModel)]="frro.catatan" name="catatan" required="required"></ion-textarea>
              </ion-item>
             
              <ion-row>
                <ion-col col-12>
                  <button ion-button full color="secondary" type="submit" >
                    <ion-icon ios="ios-send" md="md-send">
                      <small>Simpan</small>
                    </ion-icon>
                  </button>
                </ion-col>
              </ion-row>
      
            </form>
          </ion-list>
        </ion-card-content>
      </ion-card>
</ion-content>




