page-beranda {
        hr{
            background-color: white;
            width: 10px;
            color: greenyellow;
        }
        .spinner-container{
            width: 100%;
            text-align: center;
            padding: 10px;
        }
        .bg-image {
            /* Full height */
            height: 100%; 
            
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .headercontent{
            margin-top: 20px;
            position: relative;
            height: 50%;
          }
          .overlay {
            position: absolute;
            /*bottom:2;*/
            top:0;
            left: 0;
            right: 0;
            background-color: #008CBA;
            overflow: hidden;
            height: 100%;
            opacity:0.8;
          }
          .text-block {
            position: absolute;
            background-color:transparent;
            color: white;
            top: 15%;
            text-align: center;
            left: 8%;
            right: 8%;
            z-index: 5;
        }
        .text-blocks1{
            position: absolute;
            background-color:transparent;
            color: white;
            top: 45%;
            text-align: center;
            left: 8%;
            z-index: 5; 
        }
        .text-blocks2{
            position: absolute;
            background-color:transparent;
            color: white;
            top: 45%;
            text-align: center;
            left: 16%;
            right: 16%;
            z-index: 5; 
        }
        .text-blocks3{
            position: absolute;
            background-color:transparent;
            color: white;
            top: 45%;
            text-align: center;
            right: 8%;
            z-index: 5; 
        }
        .line{
            border-top: 1px solid #ffff;
        }
        .scroll-content {
            background: rgba(228, 241, 254, 1);
        }
        
       /* ion-navbar .toolbar-background { UNTUK TRANSPARANSI
            background: transparent;
    
        }*/ 
        .bar-buttons,
        .toolbar-title {
            color: #fff;
        }
        ion-content .scroll-content {
            margin-top:0px !important;
        }
       
        .scroll-content {
            padding-top: 0px !important;
          }
    
          @media all and (max-width: 378px) {//err
            .bg-image {
                /* Full height */
                height: 100px; 
                
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              }
          }
          .alert {
            position: fixed;
            padding:15px;
            left:8%;
            right:5%;
            top:50%;
            background-color: #f44336; /* Red */
            color: white;
            width:80%;
    }
    
    /* The close button */
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    /* When moving the mouse over the close button */
    .closebtn:hover {
      color: black;
    }
        
}
