<ion-header>
  <ion-navbar color="primary">
    <ion-title>Progress Kalibrasi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card>
      <ion-card-header>
        <p>Telah Ditangani: {{jmlSudahUpload}}<b></b></p>
      </ion-card-header>
      <ion-card-content *ngFor="let row of dataSudahUpload">
        <p>No. Seri Mesin: <b>{{row.no_seri_mesin}}</b></p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <hr>

  <ion-list>
    <ion-card >
      <ion-card-header>
        <p>Belum Ditangani: {{jmlBelumUpload}}<b></b></p>
      </ion-card-header>
      <ion-card-content *ngFor="let row of dataBelumupload">

        <ion-item>
          <b>{{row.no_seri_mesin}}</b>
          <button ion-button outline color="info" item-end icon-end (click)="scanMesin({'nowo':row.no_wo, 'nomesin':row.no_seri_mesin})">
            Scan Barcode
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <br><br>
  <ion-list >
    <ion-card>
      <ion-card-content>
        <button ion-button block outline color="danger" item-end icon-end (click)="btnDone()" disabled='{{disDone}}'>
          DONE
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
  </ion-list>
      
</ion-content>
